/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 14px/18px sans-serif;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 50px;
    background: #0D6EFD;
    color: white;
}

.header .nav-link {
    color: white;
}

.header .nav-link:hover {
    text-decoration: underline;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 100px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 1000px;
    margin: -50px auto 0;
    height: 50px;
    background: #6C757D;
    position: relative;
}

.h100 {
    height: 100% !important;
}

.mh800 {
    min-height: 800px;
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    background: #eee;
}

.post h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.post time {
    margin-bottom: 15px;
    display: block;
    color: #999;
}